.joinBtn3 {
  padding: 15px 0;
  max-width: 100%;
  width: 320px;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 50px;
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  filter: drop-shadow(0px 15px 30px rgba(57, 26, 115, 0.15));
  font-family: "Poppinsmedium";
}

.rounds {
  font-size: 22px;
  line-height: 180%;
  background: linear-gradient(
    80.75deg,
    #d155ff 4.6%,
    #b532f2 17.14%,
    #a016e8 29.4%,
    #9406e2 40.22%,
    #8f00e0 48.46%,
    #a08cff 92.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: fit-content;
  font-family: Poppinssemibold;
  position: relative;
}

.rounds::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 1px;
  border-radius: 2px;
  background: linear-gradient(
    80.75deg,
    #d155ff 4.6%,
    #b532f2 17.14%,
    #a016e8 29.4%,
    #9406e2 40.22%,
    #8f00e0 48.46%,
    #a08cff 92.32%
  );
}

.works {
  font-family: Poppinssemibold;
  font-size: 36px;
  line-height: 180%;
  color: #1b1c39;
  
}

.works2 {
  font-family: Poppinssemibold;
  font-size: 20px;
  line-height: 180%;
  color: #1b1c39;
  margin-top: 48px;
  font-family: Poppinsbold;
}

.finance {
  position: relative;
  height: 877px;
  margin-right: 51px;
  margin-left: 51px;
  background: linear-gradient(180deg, rgba(198, 186, 255, 0.28) 0%, rgba(198, 186, 255, 0) 100%);
  border-radius: 25px;
  padding-right: 39px;
  padding-left: 39px;
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  .finance {
    height: 2500px;
  }
  .financeArrow{
    transform: rotate(90deg);
    padding: 2rem;
  }
}