.show {
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.myModal {
  background: linear-gradient(90.29deg, #000000 4.24%, #A488FF 102.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: fit-content;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: Poppinsbold;
}
