.show {
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.bankingHeader {
  background: linear-gradient(90.29deg, #000000 4.24%, #a488ff 102.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: fit-content;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: Poppinsbold;
  margin: 0 auto;
}

.bankText {
  padding-top: 30px;
  font-family: Poppinsregular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center; /* Center the text horizontally */
  color: #1b1c39;
  display: flex !important;
  align-items: center !important;
  justify-content: center; /* Center the content horizontally */
}

@media screen and (max-width: 480px) {
  .bankText {
    display: flex;
    flex-direction: column !important;
  }
}

.bankTextSpan {
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: fit-content;
  cursor: pointer;
  position: relative;
  margin-left: 0.3rem;
}

.bankTextSpan::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
}

.c {
  margin: 0 auto;
}

.myModal {
  background: linear-gradient(
    89.84deg,
    #000000 -11.87%,
    #564786 37.22%,
    #a488ff 91.83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  font-family: Poppinsbold;
  text-align: center;
}

.joinBtn {
  padding: 15px 0;
  max-width: 100%;
  width: 489px;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 50px;
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  filter: drop-shadow(0px 15px 30px rgba(57, 26, 115, 0.15));
  font-family: "Poppinsmedium";
}

.joinBtn2 {
  padding: 15px 0;
  max-width: 100%;
  width: 489px;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 50px;
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  filter: drop-shadow(0px 15px 30px rgba(57, 26, 115, 0.15));
  font-family: "Poppinsmedium";
  opacity: 0.2;
}
.joinBtn3 {
  padding: 8px;
  max-width: 100%;
  width: 60px;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  filter: drop-shadow(0px 15px 30px rgba(57, 26, 115, 0.15));
  font-family: "Poppinsmedium";
  opacity: 0.2;
}

.yallahWaitlist {
  width: 320px;
  height: 55px;
  background: #1b1c39;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 64px;
}

@media screen and (max-width: 480px) {
  .yallahWaitlist {
    width: 160px;
    height: 55px;
    background: #1b1c39;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 64px;
  }
  .myModal {
    background: linear-gradient(
      89.84deg,
      #000000 -11.87%,
      #564786 37.22%,
      #a488ff 91.83%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    font-family: Poppinsbold;
    text-align: center;
  }
}

.ups1 {
  position: relative;
  width: 325px;
  height: 325px;
  background: linear-gradient(145.77deg, #faf9fe 8.5%, #e0dffb 90.85%);
  border-radius: 9999px;
  margin-left: 30px;
  margin-top: -34px;
  margin-bottom: 34px;
  z-index: 1;
}
.ups2 {
  position: relative;
  width: 343px;
  height: 343px;
  background: linear-gradient(145.77deg, #faf9fe 8.5%, #c6baff 90.85%);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
  border-radius: 9999px;
  margin-left: 206px;
  /* user-select: text; */
}

@media screen and (max-width: 480px) {
  .ups2{
    display: none;
  }
  .ups1{
    display: none;
  }

}

@media screen and (min-width: 481px) {
  .ups4{
    display: none;
  }
  .ups3{
    display: none;
  }
}

.upsText {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  left: 44px;
  top: 166px;
}
.upsText2 {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  left: 44px;
  top: 206px;
}

.upsPrice {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}
.upsPriceBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;
  background: #ffffff;
  border-radius: 19px;
  width: 84px;
  position: absolute;
  left: 116px;
  top: 132px;
}
.upsCup {
  position: absolute;
  left: 131px;
  top: 0px;
  user-select: none;
}

/* Ups Phone */
.upsText3 {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  right: 79px;
  top: 86px;
}
.upsText4 {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  right: 58px;
  top: 118px;
}

.or {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 19px;
  line-height: 126.5%;
  color: #a08cff;
  position: absolute;
  right: 145px;
  top: 157px;
  z-index: 2;
}

.donate {
  position: absolute;
  right: 408px;
  top: 4425px;
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 43px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.donate::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
}

@media screen and (max-width: 768px) {
  .donate {
    top: 4825px;
  }
}
@media (max-width: 1250px) {
  .donate {
    right: 408px;
    top: 4925px;
  }
}

@media only screen and (min-width: 992px) {
  .donate {
    right: 408px;
    top: 4925px;
  }
}

@media only screen and (min-width: 1200px) {
  .donate {
    top: 4425px;
  }
}

.donate2 {
  position: absolute;
  right: 38px;
  top: 176px;
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 34px;
  line-height: 43px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.donate2::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
}

.upsPrice2 {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}
.upsPriceBadge2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;
  background: #ffffff;
  border-radius: 19px;
  width: 87px;
  position: absolute;
  right: 122px;
  top: 40px;
  z-index: 10;
}
.upsPhone {
  position: absolute;
  right: 173.91px;
  bottom: 72.72px;
  mix-blend-mode: multiply;
  /* border-radius: 100px; */
  border-bottom-left-radius: 1000px; /* 4px */
  border-bottom-right-radius: 1000px; /* 4px */
  user-select: none;
}







/* Mobile for ROUND-UPS */

.ups3 {
  position: relative;
  width: 169.06px;
  height: 169.06px;
  background: linear-gradient(145.77deg, #faf9fe 8.5%, #e0dffb 90.85%);
  border-radius: 9999px;
  margin-left: 5px;
  margin-top: -44px;
  margin-bottom: 34px;
  z-index: 1;
}
.ups4 {
  position: relative;
  width: 178.42px;
  height: 178.42px;
  background: linear-gradient(145.77deg, #faf9fe 8.5%, #c6baff 90.85%);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
  border-radius: 9999px;
  margin-left: 126px;
  /* user-select: text; */
}

.upsTextMobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 25.5px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  left: 34px;
  top: 96px;
}
.upsText2Mobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 25.5px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  left: 34px;
  top: 116px;
}

.upsPriceMobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 11px;
  line-height: 16.5px;
  text-align: center;
  color: #333333;
}
.upsPriceBadgeMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;
  background: #ffffff;
  border-radius: 19px;
  width: 43.69px;
  height: 20.29px;
  position: absolute;
  left: 70px;
  top: 65px;
}
.upsCupMobile {
  position: absolute;
  left: 80px;
  top: 0px;
  user-select: none;
}

/* Ups Phone */
.upsText3Mobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 21.5px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  right: 60px;
  top: 46px;
}
.upsText4Mobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 21.5px;
  text-align: center;
  color: #4f4f4f;
  position: absolute;
  right: 49px;
  top: 64px;
}

.orMobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 15px;
  line-height: 18.97px;
  color: #a08cff;
  position: absolute;
  right: 86px;
  top: 80px;
  z-index: 2;
}

.donateMobile {
  position: absolute;
  right: 408px;
  top: 4425px;
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 21.51px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.donateMobile::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
}

.donate2Mobile {
  position: absolute;
  right: 39px;
  top: 94px;
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 17px;
  line-height: 21.51px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.donate2Mobile::before {
  content: "";
  position: absolute;
  top: 82%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
}

.upsPrice2Mobile {
  font-style: normal;
  font-family: Poppinsbold;
  font-size: 11px;
  line-height: 16.5px;
  text-align: center;
  color: #333333;
}
.upsPriceBadge2Mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;
  background: #ffffff;
  border-radius: 19px;
  width: 45.26px;
  height: 20.29px;
  position: absolute;
  right: 80px;
  top: 20px;
  z-index: 10;
}
.upsPhoneMobile {
  position: absolute;
  right: 103.91px;
  bottom: 22.72px;
  mix-blend-mode: multiply;
  /* border-radius: 100px; */
  border-bottom-left-radius: 1000px; /* 4px */
  border-bottom-right-radius: 1000px; /* 4px */
  user-select: none;
}




/* End Mobile ROUND-UPS */






.hover3 {
  position: absolute;
  bottom: 30px;
  left: 360px;
  z-index: 20;
  text-align: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hover3 {
    left: 57px;
    bottom: 30px;
  }
}

@media (min-width: 640px) {
  .hover3 {
    left: 560px;
  }
}
@media (min-width: 768px) {
  .hover3 {
    left: 760px;
  }
}
@media (min-width: 1024px) {
  .hover3 {
    left: 360px;
  }
}

@media (min-width: 1280px) {
  .hover3 {
    left: 400px;
  }
}

@media (min-width: 1400px) {
  .hover3 {
    left: 465px;
  }
}

@media (min-width: 1600px) {
  .hover3 {
    left: 600px;
  }
}

.hover2 {
  position: absolute;
  bottom: 30px;
  left: 500px;
  z-index: 20;
  text-align: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hover2 {
    left: 120px;
    bottom: 30px;
  }
}

@media (min-width: 640px) {
  .hover2 {
    left: 500px;
  }
}
@media (min-width: 768px) {
  .hover2 {
    left: 500px;
  }
}
@media (min-width: 1024px) {
  .hover2 {
    left: 510px;
  }
}

@media (min-width: 1280px) {
  .hover2 {
    left: 535px;
  }
}

@media (min-width: 1400px) {
  .hover2 {
    left: 605px;
  }
}

@media (min-width: 1600px) {
  .hover2 {
    left: 750px;
  }
}

.hover1 {
  position: absolute;
  bottom: 259px;
  left: 320px;
  z-index: 20;
  text-align: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hover1 {
    left: 20px;
    top: 120px;
  }
}

@media (min-width: 640px) {
  .hover1 {
    left: 500px;
  }
}
@media (min-width: 768px) {
  .hover1 {
    left: 500px;
  }
}
@media (min-width: 1024px) {
  .hover1 {
    left: 315px;
  }
}

@media (min-width: 1280px) {
  .hover1 {
    left: 345px;
  }
}

@media (min-width: 1400px) {
  .hover1 {
    left: 415px;
  }
}

@media (min-width: 1600px) {
  .hover1 {
    left: 540px;
  }
}

.hover4 {
  position: absolute;
  top: 70px;
  left: 680px;
  z-index: 20;
  text-align: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hover4 {
    left: 202px;
    top: 30px;
  }
}

@media (min-width: 640px) {
  .hover4 {
    left: 680px;
  }
}
@media (min-width: 768px) {
  .hover4 {
    left: 680px;
  }
}
@media (min-width: 1024px) {
  .hover4 {
    left: 680px;
  }
}

@media (min-width: 1280px) {
  .hover4 {
    left: 705px;
  }
}

@media (min-width: 1400px) {
  .hover4 {
    left: 780px;
  }
}

@media (min-width: 1600px) {
  .hover4 {
    left: 910px;
  }
}

.hover {
  position: absolute;
  bottom: 184px;
  right: 275px;
  z-index: 20;
  text-align: center;
  align-items: center;
}

@media (max-width: 480px) {
  .hover {
    right: 45px;
    bottom: 105px;
  }
}
@media (min-width: 640px) {
  .hover {
    right: 275px;
  }
}
@media (min-width: 768px) {
  .hover {
    right: 275px;
  }
}
@media (min-width: 1024px) {
  .hover {
    right: 278px;
  }
}

@media (min-width: 1280px) {
  .hover {
    right: 305px;
  }
}

@media (min-width: 1400px) {
  .hover {
    right: 375px;
  }
}

@media (min-width: 1600px) {
  .hover {
    right: 509px;
  }
}
